---
import { Icon } from "astro-icon/components";

const links = [
  {
    title: "Explore",
    links: [
      {
        label: "Map",
        link: "/map",
      },
      {
        label: "Wiki",
        link: "https://wiki.rokucraft.com",
      },
      {
        label: "Store",
        link: "https://store.rokucraft.com",
      },
    ],
  },
  {
    title: "Community",
    links: [
      {
        label: "Rules",
        link: "/rules",
      },
      {
        label: "Forum",
        link: "https://forum.rokucraft.com",
      },
      {
        label: "Apply",
        link: "/apply",
      },
      {
        label: "Ban appeal",
        link: "/appeal",
      },
    ],
  },
] satisfies { title: string; links: { label: string; link: string }[] }[];

const socials = [
  {
    platform: "Ko-fi",
    link: "https://ko-fi.com/rokucraft",
    icon: "simple-icons:kofi",
  },
  {
    platform: "TikTok",
    link: "https://tiktok.com/@rokucraft",
    icon: "simple-icons:tiktok",
  },
  {
    platform: "YouTube",
    link: "https://youtube.com/@rokucraft",
    icon: "simple-icons:youtube",
  },
  {
    platform: "Twitter",
    link: "https://twitter.com/avatarrokucraft",
    icon: "simple-icons:twitter",
  },
  {
    platform: "Instagram",
    link: "https://instagram.com/rokucraftserver",
    icon: "simple-icons:instagram",
  },
  {
    platform: "Facebook",
    link: "https://facebook.com/rokucraft",
    icon: "simple-icons:facebook",
  },
  {
    platform: "GitHub",
    link: "https://github.com/Rokucraft",
    icon: "simple-icons:github",
  },
];
---

<footer class="text-cyan-950 ring-1 ring-slate-900/10 bg-cyan-50">
  <div
    class="mx-auto flex max-w-5xl flex-col justify-between gap-4 p-8 sm:flex-row"
  >
    <div class="flex flex-col">
      <span class="cursor-default font-display text-3xl">Rokucraft</span>
      <span class="font-mono text-lg font-bold text-cyan-700">
        play.rokucraft.com
      </span>
    </div>
    <div class="flex max-w-xs grow justify-between gap-4">
      {
        links.map((category) => (
          <div>
            <h3 class="font-extrabold">{category.title}</h3>
            <ul>
              {category.links.map((link) => (
                <li>
                  <a
                    target={
                      link.link.startsWith("https://") ? "_blank" : "_self"
                    }
                    href={link.link}
                    class="font-medium text-cyan-800 transition-colors hover:text-cyan-600"
                  >
                    {link.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
  <hr class="mx-auto max-w-6xl border-slate-900/10" />
  <div
    class="m-auto flex max-w-5xl grow flex-col gap-8 p-8 md:flex-row-reverse md:items-center md:justify-between"
  >
    <div class="flex gap-4">
      {
        socials.map((s) => (
          <a href={s.link} target="_blank">
            <Icon
              name={s.icon}
              title={s.platform}
              class="text-cyan-900 transition hover:text-cyan-700 md:h-7 md:w-7"
            />
          </a>
        ))
      }
    </div>
    <div>
      <p class="font-semibold">&copy; 2024 Rokucraft</p>
      <p class="max-w-md text-xs font-medium text-cyan-950">
        Rokucraft is not in any way affiliated, associated, authorized, endorsed
        by, or in any way officially connected with Mojang Studios, Microsoft, Avatar Studios, Nickelodeon, Paramount
        Global or any company, or any of its subsidiaries or its
        affiliates.
      </p>
    </div>
  </div>
</footer>
